@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="imageContainer">
        <img src="/images/bible.jpg" alt="bible" />
        <img src="/images/bom.jpg" alt="BOM" />
        <img src="/images/d&c.jpg" alt="D&C" />
    </div>
</div>
